In [35]:
import pandas as pd

# Read the HTML file into a DataFrame
df = pd.read_html("../data/html/NDB_Exchange_Rates.html")[0]

In [36]:

df

,Currency Name,Currency Code,CurrencyBuying Rate,CurrencySelling Rate,Travelers ChequesBuying Rate,Travelers ChequesSelling Rate,Telegraphic TransfersBuying Rate,Telegraphic TransfersSelling Rate
0,ValueUS Dollar,ValueUSD,Value289.50,Value297.50,Value288.45,Value297.50,Value289.50,Value297.50
1,ValueBritish Pound,ValueGBP,Value375.64,Value391.97,Value374.27,Value391.97,Value375.64,Value391.97
2,ValueEuro,ValueEUR,Value313.93,Value328.56,Value312.79,Value328.56,Value313.93,Value328.56
3,ValueSwitzerland Francs,ValueCHF,Value332.66,Value349.90,Value331.45,Value349.90,Value332.66,Value349.90
4,ValueNew Zealand Dollar,ValueNZD,Value173.45,Value184.20,Value172.82,Value184.20,Value173.45,Value184.20
5,ValueJapanese Yen,ValueJPY,Value1.93,Value2.01,Value1.92,Value2.01,Value1.93,Value2.01
6,ValueSingapore Dollar,ValueSGD,Value219.96,Value229.53,Value219.16,Value229.53,Value219.96,Value229.53
7,ValueHong Kong Dollar,ValueHKD,Value37.11,Value38.43,Value36.97,Value38.43,Value37.11,Value38.43
8,ValueAustralian Dollars,ValueAUD,Value192.00,Value203.25,Value191.30,Value203.25,Value192.00,Value203.25
9,ValueCanadian Dollars,ValueCAD,Value209.70,Value218.66,Value208.93,Value218.66,Value209.70,Value218.66
10,ValueDanish Krone,ValueDKK,Value41.87,Value44.30,Value41.71,Value44.30,Value41.87,Value44.30
11,ValueNorwegian Kroner,ValueNOK,Value26.65,Value27.90,Value26.55,Value27.90,Value26.65,Value27.90
12,ValueSwedish Krona,ValueSEK,Value27.60,Value28.91,Value27.50,Value28.91,Value27.60,Value28.91
13,ValueThai Baht,ValueTHB,Value0.00,Value0.00,Value0.00,Value0.00,Value0.00,Value0.00
14,ValueUnited Arab Emirates Dirham,ValueAED,Value76.74,Value83.28,Value76.46,Value83.28,Value76.74,Value83.28
15,ValueBahraini Dinar,ValueBHD,Value748.08,Value799.75,Value0.00,Value799.75,Value0.00,Value799.75
16,ValueKuwaiti Dinar,ValueKWD,Value898.23,Value984.12,Value0.00,Value984.12,Value0.00,Value984.12
17,ValueOmani Rial,ValueOMR,Value732.93,Value782.92,Value0.00,Value782.92,Value0.00,Value782.92
18,ValueSaudi Arabian Riyal,ValueSAR,Value75.10,Value81.40,Value0.00,Value81.40,Value75.10,Value81.40
19,ValueYuan Renminbi,ValueCNY,Value40.41,Value43.55,Value0.00,Value42.72,Value40.41,Value42.72
20,ValueChinese Yuan Renminbi,ValueCNH,Value40.38,Value43.51,Value0.00,Value42.68,Value40.38,Value42.68
21,ValueIndian Rupees,ValueINR,Value0.00,Value0.00,Value0.00,Value3.55,Value3.44,Value3.55

In [37]:
df.head()

,Currency Name,Currency Code,CurrencyBuying Rate,CurrencySelling Rate,Travelers ChequesBuying Rate,Travelers ChequesSelling Rate,Telegraphic TransfersBuying Rate,Telegraphic TransfersSelling Rate
0,ValueUS Dollar,ValueUSD,Value289.50,Value297.50,Value288.45,Value297.50,Value289.50,Value297.50
1,ValueBritish Pound,ValueGBP,Value375.64,Value391.97,Value374.27,Value391.97,Value375.64,Value391.97
2,ValueEuro,ValueEUR,Value313.93,Value328.56,Value312.79,Value328.56,Value313.93,Value328.56
3,ValueSwitzerland Francs,ValueCHF,Value332.66,Value349.90,Value331.45,Value349.90,Value332.66,Value349.90
4,ValueNew Zealand Dollar,ValueNZD,Value173.45,Value184.20,Value172.82,Value184.20,Value173.45,Value184.20

In [38]:
# df.columns = ['_'.join(col).strip() for col in df.columns.values]
df1= df.reset_index()

In [39]:
df1.head(20)

,index,Currency Name,Currency Code,CurrencyBuying Rate,CurrencySelling Rate,Travelers ChequesBuying Rate,Travelers ChequesSelling Rate,Telegraphic TransfersBuying Rate,Telegraphic TransfersSelling Rate
0,0,ValueUS Dollar,ValueUSD,Value289.50,Value297.50,Value288.45,Value297.50,Value289.50,Value297.50
1,1,ValueBritish Pound,ValueGBP,Value375.64,Value391.97,Value374.27,Value391.97,Value375.64,Value391.97
2,2,ValueEuro,ValueEUR,Value313.93,Value328.56,Value312.79,Value328.56,Value313.93,Value328.56
3,3,ValueSwitzerland Francs,ValueCHF,Value332.66,Value349.90,Value331.45,Value349.90,Value332.66,Value349.90
4,4,ValueNew Zealand Dollar,ValueNZD,Value173.45,Value184.20,Value172.82,Value184.20,Value173.45,Value184.20
5,5,ValueJapanese Yen,ValueJPY,Value1.93,Value2.01,Value1.92,Value2.01,Value1.93,Value2.01
6,6,ValueSingapore Dollar,ValueSGD,Value219.96,Value229.53,Value219.16,Value229.53,Value219.96,Value229.53
7,7,ValueHong Kong Dollar,ValueHKD,Value37.11,Value38.43,Value36.97,Value38.43,Value37.11,Value38.43
8,8,ValueAustralian Dollars,ValueAUD,Value192.00,Value203.25,Value191.30,Value203.25,Value192.00,Value203.25
9,9,ValueCanadian Dollars,ValueCAD,Value209.70,Value218.66,Value208.93,Value218.66,Value209.70,Value218.66
10,10,ValueDanish Krone,ValueDKK,Value41.87,Value44.30,Value41.71,Value44.30,Value41.87,Value44.30
11,11,ValueNorwegian Kroner,ValueNOK,Value26.65,Value27.90,Value26.55,Value27.90,Value26.65,Value27.90
12,12,ValueSwedish Krona,ValueSEK,Value27.60,Value28.91,Value27.50,Value28.91,Value27.60,Value28.91
13,13,ValueThai Baht,ValueTHB,Value0.00,Value0.00,Value0.00,Value0.00,Value0.00,Value0.00
14,14,ValueUnited Arab Emirates Dirham,ValueAED,Value76.74,Value83.28,Value76.46,Value83.28,Value76.74,Value83.28
15,15,ValueBahraini Dinar,ValueBHD,Value748.08,Value799.75,Value0.00,Value799.75,Value0.00,Value799.75
16,16,ValueKuwaiti Dinar,ValueKWD,Value898.23,Value984.12,Value0.00,Value984.12,Value0.00,Value984.12
17,17,ValueOmani Rial,ValueOMR,Value732.93,Value782.92,Value0.00,Value782.92,Value0.00,Value782.92
18,18,ValueSaudi Arabian Riyal,ValueSAR,Value75.10,Value81.40,Value0.00,Value81.40,Value75.10,Value81.40
19,19,ValueYuan Renminbi,ValueCNY,Value40.41,Value43.55,Value0.00,Value42.72,Value40.41,Value42.72

In [40]:
df_dropped = df1.drop(df1.columns[0], axis=1)
df_dropped.head(20)

,Currency Name,Currency Code,CurrencyBuying Rate,CurrencySelling Rate,Travelers ChequesBuying Rate,Travelers ChequesSelling Rate,Telegraphic TransfersBuying Rate,Telegraphic TransfersSelling Rate
0,ValueUS Dollar,ValueUSD,Value289.50,Value297.50,Value288.45,Value297.50,Value289.50,Value297.50
1,ValueBritish Pound,ValueGBP,Value375.64,Value391.97,Value374.27,Value391.97,Value375.64,Value391.97
2,ValueEuro,ValueEUR,Value313.93,Value328.56,Value312.79,Value328.56,Value313.93,Value328.56
3,ValueSwitzerland Francs,ValueCHF,Value332.66,Value349.90,Value331.45,Value349.90,Value332.66,Value349.90
4,ValueNew Zealand Dollar,ValueNZD,Value173.45,Value184.20,Value172.82,Value184.20,Value173.45,Value184.20
5,ValueJapanese Yen,ValueJPY,Value1.93,Value2.01,Value1.92,Value2.01,Value1.93,Value2.01
6,ValueSingapore Dollar,ValueSGD,Value219.96,Value229.53,Value219.16,Value229.53,Value219.96,Value229.53
7,ValueHong Kong Dollar,ValueHKD,Value37.11,Value38.43,Value36.97,Value38.43,Value37.11,Value38.43
8,ValueAustralian Dollars,ValueAUD,Value192.00,Value203.25,Value191.30,Value203.25,Value192.00,Value203.25
9,ValueCanadian Dollars,ValueCAD,Value209.70,Value218.66,Value208.93,Value218.66,Value209.70,Value218.66
10,ValueDanish Krone,ValueDKK,Value41.87,Value44.30,Value41.71,Value44.30,Value41.87,Value44.30
11,ValueNorwegian Kroner,ValueNOK,Value26.65,Value27.90,Value26.55,Value27.90,Value26.65,Value27.90
12,ValueSwedish Krona,ValueSEK,Value27.60,Value28.91,Value27.50,Value28.91,Value27.60,Value28.91
13,ValueThai Baht,ValueTHB,Value0.00,Value0.00,Value0.00,Value0.00,Value0.00,Value0.00
14,ValueUnited Arab Emirates Dirham,ValueAED,Value76.74,Value83.28,Value76.46,Value83.28,Value76.74,Value83.28
15,ValueBahraini Dinar,ValueBHD,Value748.08,Value799.75,Value0.00,Value799.75,Value0.00,Value799.75
16,ValueKuwaiti Dinar,ValueKWD,Value898.23,Value984.12,Value0.00,Value984.12,Value0.00,Value984.12
17,ValueOmani Rial,ValueOMR,Value732.93,Value782.92,Value0.00,Value782.92,Value0.00,Value782.92
18,ValueSaudi Arabian Riyal,ValueSAR,Value75.10,Value81.40,Value0.00,Value81.40,Value75.10,Value81.40
19,ValueYuan Renminbi,ValueCNY,Value40.41,Value43.55,Value0.00,Value42.72,Value40.41,Value42.72

In [41]:
df_dropped = df_dropped.applymap(lambda x: x.replace('Value', '') if isinstance(x, str) else x)

C:\Users\VenuraP\AppData\Local\Temp\ipykernel_25456\2152298079.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_dropped = df_dropped.applymap(lambda x: x.replace('Value', '') if isinstance(x, str) else x)

In [42]:
df_dropped.columns

Index(['Currency Name', 'Currency Code', 'CurrencyBuying Rate',
       'CurrencySelling Rate', 'Travelers ChequesBuying Rate',
       'Travelers ChequesSelling Rate', 'Telegraphic TransfersBuying Rate',
       'Telegraphic TransfersSelling Rate'],
      dtype='object')

In [43]:
df_dropped.to_csv("NDB_Exchange_Rates.csv" ,index= False)